<script type="text/javascript" charset="utf-8">
   toggle_active_link('nav_forum');
</script>

<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<h1>Gallery</h1>
<hr class="prepend-top">
<hr class="space">
<h4 class="info"><strong>"This exciting feature is currenty under heavy development but should go online very soon. Do check back every couple of days!" -The Webmaster</strong></h4>
<hr class="space">
<hr>
