<script type="text/javascript" charset="utf-8">
   toggle_active_link('nav_forum');
</script>

<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<h1>Forum</h1>
<hr class="prepend-top">
<hr class="space">
<h4 class="info"><strong>"This exciting feature is currently under heavy development. It's won't be online until after a few weeks, but when it does... it's gonna be awesome. Do check back soon!" -The Webmaster</strong></h4>
<hr class="space">
<hr>
