<script type="text/javascript" charset="utf-8">
   toggle_active_link('nav_gallery');
</script>

<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>


<div id="gallery">
    <img scr="1.jpg">
    <img scr="2.jpg">
    <img scr="3.jpg">
    <img scr="4.jpg">
    <img scr="5.jpg">
    <img scr="6.jpg">
    <img scr="7.jpg">
    <img scr="8.jpg">
    <img scr="9.jpg">
    <img scr="10.jpg">
</div>


