<script type="text/javascript" charset="utf-8">
   toggle_active_link('nav_videos');
</script>

<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<h1>Videos</h1>
<hr class="prepend-top">
<hr class="space">
<h4 class="success"><strong>Enjoy watching these thought-provoking, profound, relevant, and (often) humorous videos about atheism and agnosticism. Spread the word, educate yourself &mdash; and keep practicing critical thought. <em>Scientia et Ratio</em> (Science and Reason)!</strong></h4>
<hr class="space">

<h4 class="info">Why Are Atheists So Angry?</h4>
<iframe width="420" height="315" src="http://www.youtube.com/embed/GUI_ML1qkQE" frameborder="0" allowfullscreen></iframe>
<hr class="space">
<hr>

<h4 class="info">Richard Dawkins' Hate Mail</h4>
<iframe width="560" height="315" src="http://www.youtube.com/embed/-ZuowNcuGsc" frameborder="0" allowfullscreen></iframe>
<hr class="space">
<hr>

<h4 class="info">Pale Blue Dot</h4>
<iframe width="420" height="315" src="http://www.youtube.com/embed/wupToqz1e2g" frameborder="0" allowfullscreen></iframe>
<hr class="space">
<hr>

<h4 class="info">Critical Thinking</h4>
<iframe width="420" height="315" src="http://www.youtube.com/embed/6OLPL5p0fMg" frameborder="0" allowfullscreen></iframe>
<hr class="space">
<hr>

<h4 class="info">Swedish Kids Talk About The Non-Existence of God</h4>
<iframe width="420" height="315" src="http://www.youtube.com/embed/uSEIAqHtEZE" frameborder="0" allowfullscreen></iframe>
<hr class="space">
<hr>

<h4 class="info">Tim Minchin's <em>Storm</em> </h4>
<iframe width="560" height="315" src="http://www.youtube.com/embed/HhGuXCuDb1U" frameborder="0" allowfullscreen></iframe>
<hr class="space">
<hr>

<h4 class="info">George Carlin's 10 Commandments</h4>
<iframe width="420" height="315" src="http://www.youtube.com/embed/YzEs2nj7iZM" frameborder="0" allowfullscreen></iframe>
<hr class="space">
<hr>