/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  margin: 0;
  padding: 0;
  background: #fbf9ef url(header_bg.jpg) repeat-x top;
}

p, ul, li, h1, h2, h3, h4 {
  margin: 0;
}

ul {
  list-style-type: none;
}

.logo_image {
  zoom: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-khtml-opacity: 0.75;
	opacity: 0.75;
}

#nav {
  height: 54px;
  
  ul {
    float: right;
    li {
      float: left;
      padding: 15px 10px 15px 10px;
      a {
        color: #fff;
        text-decoration: none;
        padding: 15px 10px 15px 10px;
        font-size: 1.2em;
        font-weight: bold;
      }
    }
    li.active_nav, li:hover {
      background: #007eff;
    }
  }
}

#logo {
  height: 54px;
}

#mast {
  height: 198px;
}

#mast img{
  margin: 0;
  padding: 0;
  float: right;
}

#header {
  img:hover {
    zoom: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  	filter: alpha(opacity=100);
  	-khtml-opacity: 1;
  	opacity: 1;
	}
  h2 {
    margin: 8px 0px 0px 0px;
    text-align: center;
    
    color: #fff;
    font-weight: bold;
    em {
      color: #FFF700;
    }
  }
}

#subheader {
  height: 54px;
}

#content {
  /*
  h4 {
    font-weight: bold;
    font-size: 1.4em;
  }
  li p {
    margin: 0px 0px 70px 0px;
  }
  */
}

#divider {
  height: 730px;
}

#sidebar {
  height: 720px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border:3px solid #1100E9;
  background-color:#0F00CA;
  -webkit-box-shadow: #B3B3B3 16px 16px 16px;
  -moz-box-shadow: #B3B3B3 16px 16px 16px;
   box-shadow: #B3B3B3 16px 16px 16px;
  #welcome p {
    text-align: right;
    color: #fff;
    font-size: 90%;
  }
  
  #cart {
    /* font-size: smaller; */
    font-size: 95%;
    color: #000080;
    table {
      border-top: 3px groove #000080;
      border-bottom: 3px groove #000080;
      margin-bottom: 10px;
      margin-top: 10px;

      td {
        border-top: 1px dotted #000080;
        border-bottom: 1px dotted #000080;
        background-color: transparent;
      }
    }
  }
  
  #sidebar_links {
    ul {
    padding: 0;
      li {
      list-style: none;
        a {
          color: #fff;
          font-size: small;
        }
      }
    }
  }  
}

#footer {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border:2px solid #B3C5D6;
  background-color:#D5EAFF;
  /*
  border-top: 2px dotted #1400FF;
  background: #D5EAFF;
  */
  height: 36px;
  margin-bottom: 20px;
  p {
    margin: 0 auto;
    padding: 10px 0 10px 0;
    width: 950px;
    text-align: center;
  }
}
