// Place all the styles related to the Info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lists {
  ul li {
    list-style-type: circle;
    margin: 10px 0px 10px 20px;
  }
  
  p {
    text-indent: 20px;
    margin-left: 20px;
  }
}

img {
  margin: 0px 20px 10px 0px;
}

.paragraphs p{
  margin-top: 10px;
  margin-bottom: 10px; 
}

.larger p{
  margin-top: 10px;
  margin-bottom: 10px; 
  font-size: 150%;
}