<script type="text/javascript" charset="utf-8">
   toggle_active_link('nav_books');
</script>

<h1>Editing product</h1>

<%= render 'form' %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
