<script type="text/javascript" charset="utf-8">
   toggle_active_link('nav_patas');
</script>

<h1>What is PATAS?</h1>
<hr class="prepend-top">
<hr class="space">

<div class="span-17 last">
  <p class="success"><span class="large loud">Founded in February 14, 2011, the <strong>Philippine Atheists and Agnostics Society</strong> is a trailblazer of critical thinking, free thought and scientific inquiry in the Philippines. With its monthly activities, the organization acts to make atheism and agnosticism known to Filipino society. We believe that every Filipino atheist and agnostic is a Promethean citizen, taking its social responsibility in line with secularism and public understanding of science.</span></p>
  <p class="info"><strong>PATAS</strong> is a social organization that provides social action for the promotion of atheism and agnosticism in the country. <em>We stand for reason, science, and the secularization of our nation</em>. We value the individuality of humanity, where human beings have the right to give meaning and shape to their own lives.</p>
    
  <hr class="space">
  <div class="span-7 colborder lists">
    <h2>Mission</h2>
    <hr>
    <ul>
      <li>To promote public understanding about Atheism and Agnosticism; the elimination of myths and misconceptions about Atheism and Agnosticism.
      </li>
      <li>To encourage fellow Atheists and Agnostics to come out and speak against the discrimination of non-believers; to speak for equal opportunity as Filipino citizens.
      </li>
      <li>To provide social responsibilities by replacing superstitious imperatives with rational secular solutions grounded in the lack of supernatural beliefs. To ensure the camaraderie and harmonious information exchange between Filipino Atheists and Agnostics.
      </li>
    </ul>
  </div>

  <div class="span-9 lists last">
    <h2>Vision</h2>
    <hr>
    <p>The <strong>Philippine Atheists and Agnostic Society</strong> envisions itself as an agent of social awareness and public understanding concerning non-belief; an organization committed to replacing superstition with rational and secular solutions to social problems, grounded in the lack of belief in the supernatural; and as an organization that commits to education on concepts of Atheism and Agnosticism and the unity of Filipino Atheists and Agnostics, towards Filipino Atheism and Agnosticism.</p>
  </div>
</div>
<hr class="space">
<div class="span 17 last">
  <h1>The Necessity of Atheism and Agnosticism in the Philippines</h1>
  <hr class="prepend-top">
  <hr class="space">
  
  <p><blockquote>”A man has no reason to be ashamed of having an ape for his grandfather. If there were an ancestor whom I should feel shame in recalling it would rather be a man who plunges into scientific questions with which he has no real acquaintance, only to obscure them by an aimless rhetoric.” — Thomas Henry Huxley</blockquote></p>
  <hr class=space>
  <p><blockquote>“Without education and liberty, which are the soil and the sun of man, no reform is possible , no measure can give the result desired.”  — Jose Rizal</blockquote></p>
  <hr class=space>
  <%= image_tag "dawkins.jpg", alt: "Richard Dawkins", class: "left" %>
  <div class="paragraphs">
    <p>
      Due to major belief systems that we adopted from outdated religiosity, the Philippine society becomes detrimental to its aims of social progress and global participation. The Filipino belief system of fatalism instils on every Filipino that we lack control of our own lives and we are incarcerated to the destiny bestowed upon us.
    </p>
    <p>
      The Filipino belief system, due to its cultural dogmatism and unrealistic expectations, teaches us prejudice towards fellow citizens; in turn, we also become self-victimizing due to the projection of our judgments on others. Enforcing on us to attaining the unattainable keeps us distracted in our daily lives, frustrating us with idealistic hope, and as a result, affecting our self-esteem.
    </p>
    <p>
      The Filipino belief system acknowledges an appeal to elite or over-reliance to authorities, as the majority believes that a messiah or a group of messiahs are the only ones capable of leading them to salvation. The Filipino belief system keeps us hoping for a savior to liberate us, rather than us saving ourselves. This belief system affirms that we are weak, that there is a higher power in nature controlling us.
    </p>
    <p>
      As atheists and agnostics, the Philippine Atheist and Agnostics Society promotes choice, responsibility, and acknowledgment of the unique self among citizens. We know that all human beings have the inalienable rights to choose and shape their lives. We know that every human being is responsible for his or her own decisions, and could solve personal problems by solution-based thinking. We know that all human beings, particularly Filipinos, should never have to acknowledge an elite class; each person is unique in intelligence and creativity.
    </p>
    <p>
      We have observed that the detrimental belief systems mentioned above are the fruits of an imposition of outdated religion-based ethics in the society. These organized totalitarian sects insist that God has the power to manipulate our fate, that we are always weak, and there is no one to trust but God and his messiahs. Worse, this kind of thinking does not just keep us off the truth, but affects our personal growth as human beings, as they lead us to laziness, blame-ful attitude, and fanaticism to the richest personalities in the Philippines.
    </p>
    <p>
      The more religion-based morality is imposed, the more the nation becomes detrimental. We promote skepticism and scientific inquiry, as well as atheism and agnosticism in society.
    </p>
    <p>
      We are for pure scientific education, most specifically, sex education and evolution. In these studies we may learn our objective moral values and understand our purpose as we live.
    </p>
    <p>
      We are critical against supernatural claims, and we believe that insistence of the paranormal in our science curriculum slows the education of every potential harbinger of scientific enlightenment in the Philippines. This spiritualism will resort to bringing us back to the detrimental belief systems mentioned above. We have learned, and we must act against this.
    </p>
    <p>
      The Philippine Atheists and Agnostics Society promotes unity among Filipino atheists and agnostics, and camaraderie among its members and the Philippine society as a whole. We are for the education of our fellow atheists and agnostics and to help them realize how relevant this issue is in their daily lives.
    </p>
  </div>
</div>