<script type="text/javascript" charset="utf-8">
   toggle_active_link('nav_home');
</script>

<h1>Frequently Asked Questions</h1>
<hr class="prepend-top">
<hr class="space">

<div class="success">
  <p><strong>Question 1: What is this website all about?</strong></p>
</div>
<blockquote><p>This website aims to be the premiere education hub of the Philippine Atheists and Agnostics Society. Here, you can browse our library catalog, shop for books, look up atheism and agnosticism-related resources, watch videos, and share your thoughts with other freethinkers.</p></blockquote>
<div class="success">
  <p><strong>Question 2: So, this website is just for atheists?</strong></p>
</div>
<blockquote><p>Of course not. While we do cater to atheists and freethinkers, everyone is welcome here.</p></blockquote>
<div class="success">
  <p><strong>Question 3: Hmm, is it true that you atheists worship Satan?</strong></p>
</div>
<blockquote><p>Not true. We don't believe in the devil, how can one worship something that one doesn't even believe in? HOWEVER, we do eat babies. They're delicious.</p></blockquote>
<div class="success">
  <p><strong>Question 4: Why did you make this site?</strong></p>
</div>
<blockquote><p>[Jem Pimentel] For two reasons. First, this is in line with my position as the Academic and Learning Resources Director of PATAS. Second, this also serves as my final project for school (a web development course).</p></blockquote>
<div class="success">
  <p><strong>Question 5: I'm interested to know what you used to create this website. Did you use PHP?</strong></p>
</div>
<blockquote><p>Ruby on Rails was used to develop this site. It is a full-stack web development framework written in Ruby. It is, like PHP, a web scripting language. And no, Ruby on Rails is NOT a CMS like Joomla or Wordpress.</p></blockquote>
<div class="success">
  <p><strong>Question 6: What's up with the horrific/terrific color scheme and layout?</strong></p>
</div>
<blockquote><p>Disclaimer: I am a developer, not a designer. For my next site, someone else is going to do the design stuff for me (assuming I can afford whoever that person is) Just kidding. I'm probably going to end up doing it myself anyway.</p></blockquote>
<div class="success">
  <p><strong>Question 7: Can I really buy the books featured in this site?</strong></p>
</div>
<blockquote><p>Short answer: yes! I am going to implement an automated system for credit card payments and fulfillment soon, but in the meantime, we receive your orders through an RSS feed. You will receive the books you buy, that's a promise. Also, expect a more complete listing of all our available books in the immediate future.</p></blockquote>
<div class="success">
  <p><strong>Question 8: Are you affiliated with the Filipino Freethinkers?</strong></p>
</div>
<blockquote><p>Yes. FF also caters to deists, pantheists, maltheists, etc. but PATAS membership is exclusive to atheists and agnostics. Nevertheless, these two organizations share the same vision of a secular Philippines. In passing, we are also affiliated with the Freedom from Religion Foundation, and other international atheist organizations.</p></blockquote>
<div class="success">
  <p><strong>Question 9: Is this the final version of this website?</strong></p>
</div>
<blockquote><p>Not at all. In fact, this is a very early beta. <%= link_to "Tell us what you think", "mailto: colopatiron2009@hotmail.com" %> so we can improve this site even more and serve you better.</p></blockquote>
<div class="success">
  <p><strong>Question 11: What does <em>Iskolar Ateista</em> mean, and it's in what language?</strong></p>
</div>
<blockquote><p>The site name is in Tagalog (the predominant language of the Philippines), and it literally means "The Scholarly Atheist. Cool, huh? And quite catchy!"</p></blockquote>
<div class="success">
  <p><strong>Question 11: Can I stop asking questions now? Believe me, my thirst for knowledge has been slaked.</strong></p>
</div>
<blockquote><p>By all means, do so. One can ask only so many questions after all. ^___^</p></blockquote>